<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LeapBusiness</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <div class="background">

    </div>
    <div class="overlay">

    </div>
    <div class="page">
        <div class="content">
            <h1>Leap Business</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus at error modi in iste nostrum laudantium quo ullam ipsum optio ipsa, sit quaerat est quos. Tempore nobis minima non consequatur!</p>
            <h2 id="status"></h2>
            <button id="start" onclick="start()">Comenzar</button>
        </div>
    </div>
    
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>