<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LeapBusiness</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <nav>
        <div class="logo">
            <a href="/"><img src="{{ url_for('static', filename='img/leap.png') }}" alt="Leap Games Studios"></a>
        </div>
        <div class="buttons">
            <h2 class="active"><a href="/">Home</a></h2>
            <h2><a href="/view">View</a></h2>
        </div>
    </nav>
    <div class="page">
        <div class="content">
            <div class="left">
                <h1>Leap Business</h1>
                <h2>Panel for updating the Database</h2>
                <button onclick="gameData()">Update Game Data</button>
                <button onclick="metacritic()">Update Metacritic Data</button>
                <button onclick="steamPrice()">Update SteamPrice Data</button>
                <button onclick="steamCharts()">Update SteamCharts Data</button>
                <h2>Panel to register new games</h2>
                <button onclick="fullUpdate()">Full Update</button>
            </div>
            <div class="right">
                <img src="{{ url_for('static', filename='img/scrap.gif') }}" alt="Web Scrapping">
            </div>
        </div>
    </div>
    
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>