<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <nav>
        <div class="logo">
            <a href="/"><img src="{{ url_for('static', filename='img/leap.png') }}" alt="Leap Games Studios"></a>
        </div>
        <div class="buttons">
            <h2><a href="/">Home</a></h2>
            <h2 class="active"><a href="/view">View</a></h2>
        </div>
    </nav>

    <iframe title="LeapBusiness - Panel de Control" src="https://app.powerbi.com/reportEmbed?reportId=4b47611c-00f6-4788-af49-c225ba2cb18d&autoAuth=true&ctid=1eba443f-23e5-4534-90d1-0976aabe86ac&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXNvdXRoLWNlbnRyYWwtdXMtcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D" frameborder="0" allowFullScreen="true"></iframe>


</body>
</html>