:root{
  --bgColor: #343434;
  --textColor: #f9f8f9;
  --mainColor: #48c0eb;
  --placeholder: #696969;
  --backgroundImg: url("../../static/img/bg.jpeg");
}

html{
  font-size: 62.5%;
  box-sizing: border-box;
}

body{
  margin: 0;
  color: var(--textColor);
  background-color: var(--bgColor);
  font-family: 'Source Sans Pro', sans-serif;
  word-break: break-word;
  position: relative;
}

.background, .overlay, .page{
  position: absolute;
  width: 100%;
  min-height: 100vh;
}

.background{
  background-image: var(--backgroundImg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.overlay{
  background-color: rgba(22, 22, 22, 0.5);
}

.page .content{
  position: relative;
  width: calc(100wh - 120px);
  height: calc(100vh - 120px);
  padding: 60px;
  text-align: center;
}

.page .content h1{
  font-size: 5vw;
}

.page .content p{
  width: 40%;
  margin: auto;
  font-size: 16px;
}

.page .content button{
  background-color: transparent;
  color: inherit;
  font-weight: bold;
  border: 2px solid var(--textColor);
  border-radius: 50px;
  padding: 16px 24px;
  margin: 32px auto;
  cursor: pointer;
}

.page .content button:hover{
  background-color: var(--mainColor);
}