:root{
  --bgColor: #343434;
  --textColor: #f9f8f9;
  --mainColor: #DB0A5B;
  --placeholder: #696969;
  --backgroundImg: url("../../static/img/bg.jpeg");
}

html{
  font-size: 62.5%;
  box-sizing: border-box;
}

body{
  margin: 0;
  color: var(--textColor);
  font-family: 'Source Sans Pro', sans-serif;
  word-break: break-word;
  position: relative;
}

.page{
  position: absolute;
  width: 100%;
  min-height: calc(100vh - 100px);
}

.page .content{
  position: relative;
  width: calc(100wh - 120px);
  height: calc(100vh - 220px);
  padding: 60px;
  color: var(--bgColor);
  display: flex;
  flex-direction: row;
}

.page .content h1{
  font-size: 5vw;
  color: var(--mainColor);
  margin: auto;
}

.page .content .left, .page .content .right{
  width: 50%;
}

.page .content .right img{
  margin: 0 5% ;
  width: 90%;
}

.page .content h2{
  font-size: 2vw;
}

.page .content button{
  background-color: var(--mainColor);
  color: var(--textColor);
  font-weight: bold;
  border: 2px solid var(--textColor);
  border-radius: 2vw;
  padding: 16px 24px;
  margin: 8px auto;
  cursor: pointer;
  font-size: 0.8vw;
}

.page .content button:hover{
  color: var(--mainColor);
  background: transparent;
  border: 2px solid var(--mainColor);
}

.page .content button:disabled,
.page .content button[disabled]{
  opacity: 0.6;
  cursor: not-allowed;
}

nav{
  position: relative;
  width: 80%;
  padding: 0 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 6px 10px -1px rgba(0,0,0,0.34);
  -webkit-box-shadow: 1px 6px 10px -1px rgba(0,0,0,0.34);
  -moz-box-shadow: 1px 6px 10px -1px rgba(0,0,0,0.34);
  z-index: 20;
  overflow: visible;
}

nav div{
  height: 100px;
}

nav div img{
  height: 60%;
  margin-top: 20px;
}

nav .buttons{
  width: 20%;
  min-width: 230px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--mainColor);
  font-size: 0.7vw;
}

nav .buttons h2{
  padding: 8px 32px;
  border-radius: 4vw;
}

nav .buttons .active{
  background-color: var(--mainColor);
  color: var(--textColor);
}

nav .buttons h2:hover{
  color: var(--mainColor);
  background: transparent;
  border: 2px solid var(--mainColor);
}

iframe{
  width: 100%;
  height: calc(100vh - 102px);
}

a{
  text-decoration: none;
  color: inherit;
}

@media only screen and (max-width: 1200px){
  nav .buttons{
    font-size: 1vw;
  }

  .page .content button{
    font-size: 1.2vw;
  }
}

@media only screen and (max-width: 992px){
  .page .content{
    flex-direction: column;
  }
  .page .content .left, .page .content .right{
    width: 100%;
  }
  .page .content button{
    font-size: 1.5vw;
  }
  .page .content h1{
    font-size: 6vw;
  }
  .page .content h2{
    font-size: 3vw;
  }
}

@media only screen and (max-width: 600px){
  .page .content{
    padding: 30px;
    height: calc(100vh - 160px);
  }
  nav .buttons{
    font-size: 1.5vw;
  }
  .page .content button{
    font-size: 2vw;
  }
  .page .content h1{
    font-size: 8vw;
  }
  .page .content h2{
    font-size: 4vw;
  }
}

@media only screen and (max-width: 420px){
  .page .content{
    padding: 16px;
    height: calc(100vh - 132px);
  }
  nav .buttons{
    font-size: 1.5vw;
    min-width: 180px;
  }
  .page .content button{
    font-size: 3vw;
  }
  nav div img{
    height: 40%;
    margin-top: 30px;
  }
  .page .content h1{
    font-size: 10vw;
  }
  .page .content h2{
    font-size: 5vw;
  }
}